<section class="home-page">
<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <section class="content">
    <div class="title">
      <h1>Welcome to {{ title }}!</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="input_file">
      <p>SELECT FILE TO FIND IT'S MIME TYPE</p>
        <input #fileInput type="file" style="padding-left: 50px">
      <br>
      <button mat-raised-button color="primary" (click)="onFileSubmit()">Upload</button>
    </div>
    <mat-divider></mat-divider>
    <div class="output_type">
      <span><h3> MIME TYPE IS: </h3></span>
      <span><h2>{{ mimeTypeOfFile }}</h2></span>
    </div>
  </section>
</section>


